body {
    width: 100%;
    height: 100%;

    background-color: #006ba0;
    background-size: cover;
    background-repeat: no-repeat;

    color: #ffffff;
    font-size: 18px;
    line-height: 22px;

    margin: 0;
    padding: 0;
}


.container {
    padding-top: 5vh;

    text-align: center;

    max-width: 700px;
    margin: 0 auto;
}

.input-item {
    display: flex;
    flex-direction: column;

    border: 4px solid #ffffff;
    border-radius: 6px;

}

.input-item label {
    padding: 10px;

    font-size: 20px;
    line-height: 22px;
}

.input-item {
    font-size: 18px;

    padding: 10px 100px;
}

.flex-wrap {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 30%;

    padding: 10px;

    font-size: 16px;
    color: #ffffff;

    border: none;
    border-radius: 15px;
}

.btn--generate {
    background-color: forestgreen;
}

.btn--generate:disabled{
    opacity: .2;
}

.btn--reset {
    background-color: red;
}

.btn--reset:hover,
.btn--generate:hover {
    opacity: .8;
}

.btn--reset:active,
.btn--generate:active {
    opacity: .5;
}

.btn--generate:disabled {
    opacity: .3;
}
