.container {
  height: 100vh;
  display: flex;
  position: relative;
}
.canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000000;
}
/*# sourceMappingURL=index.css.map */