body {
  margin: 0;
  padding: 0;
  background-color: #4a4e78;
  color: #fee506;
  font-weight: 700;
}
.main-container {
  direction: rtl;
}
.main-title {
  text-align: center;
}
.modal-flex {
  display: flex;
  flex-direction: row-reverse;
}
.btn-modal {
  margin: 10px;
  background-color: transparent;
  background-image: url("../../assets/big-cogwheel.svg");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  min-width: 60px;
  min-height: 60px;
  cursor: pointer;
  border: none;
  outline: none;
}
.lang-choose {
  background-color: #00b7ec;
  color: #ffffff;
  border-radius: 10px;
  height: 25px;
}
.btn-accept {
  background-color: #00b7ec;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  height: 25px;
}
.settings-container {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
}
.settings-container--show {
  z-index: 2;
  visibility: visible;
}
.settings {
  color: #ffffff;
  width: 200px;
  height: 70px;
  background-color: rgba(186, 128, 237, 0.58);
  padding: 5px;
  border-radius: 10px;
}
.settings__close {
  display: flex;
  justify-content: space-around;
}
.settings__close--btn {
  margin-top: 5px;
  width: 20px;
  height: 20px;
  background-color: #006288;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 2px;
}
.settings__close__title {
  width: 80%;
  padding: 0;
  margin-top: 5px;
}
.settings__list {
  padding: 0;
  list-style: none;
}
.settings__list__item {
  text-align: center;
}
.container {
  max-width: 600px;
  margin: 0 auto;
}
.container--action {
  filter: blur(5px);
}
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin-top: 50px;
}
.flex-item {
  width: 33.33%;
}
.flex-item__content label {
  font-size: 16px;
  line-height: 25px;
  color: #fee506;
  text-transform: uppercase;
}
.flex-item:nth-child(2) {
  align-self: center;
}
.input-item {
  height: 25px;
  font-size: 16px;
  color: #000000;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.initial-name {
  display: inline-block;
  padding: 0 25px;
}
.button-convert {
  display: block;
  margin: 0 auto;
  min-width: 100px;
  height: 40px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  background-color: #66be59;
  border: none;
  border-radius: 10px;
}
.option-value {
  margin-top: 25px;
  width: 60%;
  height: 40px;
  background-color: #00b7ec;
  font-size: 16px;
  text-transform: uppercase;
  color: #1800ff;
  border-radius: 10px;
}
/*# sourceMappingURL=index.css.map */