* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

.main-title {
  text-align: center;
  color: #322a28;
}

.container {
  width: 100%;
  display: flex;
  background-color: #cccccc;

  &__canvas {
    width: 80%;
  }

  &__control {
    width: 25%;
  }

}
.canvas {
  background-color: #ffffff;
}

.control{
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    justify-content: space-around;
    font-size: 20px;

    margin: 10px 0;

    border-radius: 10px;

    &--buttons{
      justify-content: center;
    }

    &-label {
      width: 70px;
      align-self: center;
      color: #7f5021
    }

    &-input {
      height: 28px;
      padding: 10px;
      font-size: 18px;
      border: none;
      border-radius: 10px;
      outline: none;
    }
  }
}

.btn {
  width: 90px;
  margin: 0 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #61c977;
  color: #322a28;
  font-weight: 700;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  transition: all .2s linear;

  &:hover {
    background-color: #2d5a33;
    color: white;
  }
  &:active {
    position: relative;
    top: 2px
  }

  &--get-all {
    background-color: #8fc957;
    &:hover {
      background-color: #476834;
      color: white;
    }
  }

  &--add {
    background-color: #25c0c9;
    &:hover {
      background-color: #105358;
      color: white;
    }
  }

  &--init {
    background-color: #c9c0a7;
    &:hover {
      background-color: #514a43;
      color: white;
    }
  }

  &--race{
    background-color: #34c98b;
    &:hover {
      background-color: #0f3c29;
      color: white;
    }
  }

  &--clear {
    background-color: #c9745f;
    &:hover {
      background-color: #653831;
      color: white;
    }
  }

}