body {
  margin: 0;
  padding: 0;
  background-color: #00b7ec;
}

.container {
  height: 100vh;
  max-width: 700px;
  margin: 0 auto;
}

.title {
  text-align: center;
  color: #4a4e78;
  font-size: 40px;
  padding: 0;
  margin: 0;
}

.control-panel {
  margin: 10px 0;

  &__element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.canvas-container {

}

.canvas {
  margin: 0 auto;
  border: 1px solid #000000;
  background-color: #ffffff;
}

.chat {
  position: fixed;
  top:20%;
  left: 50px;
  width: 150px;
  height: 500px;
}

.text-chat {
  height: 200px;
  overflow: scroll;
}

.btn {
  background-color: #17c73f;
  border-radius: 28px;
  border: 1px solid #44c767;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial, serif;
  font-size: 12px;
  padding: 14px 24px;
  text-decoration: none;
  text-shadow: 0 1px 0 #2f6627;
  margin: 10px 0;

  &:hover {
    background-color: #76bf1f;
  }

  &:active {
    position:relative;
    top:1px;
  }
  &--close {
    background-color: #3f3f3f;
    color: #b0ead9;
    border: 1px solid #3f3f3f;

    &:hover {
      background-color: #2e2e2e;
    }
  }
}