body {
  margin: 0;
  padding: 0;
}


.main {
  height: 100vh;
  background-color: #00b7ec;
  font-family: Arial, Helvetica, sans-serif;
  color: #2b1e23;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
  width: 500px;

  display: flex;
  flex-wrap: wrap;

  }
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  & label {
    margin-bottom: 5px;
  }
}

.input-item {
  margin-bottom: 5px;
}

.display {
  margin-left: 20px;
  align-self: center;
}

.button-item {
  margin: 0 5px;
  background-color: #4a4e78;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 5px;

  min-width: 60px;
}